/.bundle
/.project
/vendor/*

/config/database.yml
/config/application.yml
/config/sidekiq.yml
/config/ldap.yml
/config/unicorn.rb

/coverage/*
/spec/fixtures/api

/log/*.log
/tmp

.DS_Store
public/assets/source_maps
/.idea
*.sublime-project
*.sublime-workspace

.rvmrc
.projections.json
.ruby-version
.byebug_history
node_modules

*.rdb